
<h3>{{title}}</h3>



<input type = "text" [(ngModel)]="title"> 

<button (click)=HacerCambios()>Cambiar Algo</button>

<div>
<h2>Ejercicio 01</h2>

<h4>Edad Uno</h4>
<input type ="number" [(ngModel)]="edadUno"> 

<h4>Edad Dos</h4>
<input type ="number" [(ngModel)]="edadDos"> 

<br>
<button (click)=SumarEdad() (click)=PromedioEdad()>Calcular</button>
<button (click)=Limpiar()>Limpiar</button>

<h3>La suma es: {{suma}}</h3>

<h3>El promedio es: {{prom}}</h3>


</div>


<router-outlet></router-outlet>
